.github
.pytest_cache
.venv
.env
.env.dev
.env.template
.gitignore
Inventory
ruby_playbook
poetry.lock
todoapp.service
Dockerfile
README.md

# Local .terraform directories
.terraform

# Terraform files
terraform.lock.hcl
terraform.tfstate
terraform.tfstate.lock.info