# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=sRUBY_KEY
TOKEN=RUBY_TOKEN
BOARD_ID=board-id
TO_DO_ID=to-do-id
DOING_ID=doing-id
DONE_ID=done-id