{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="p-3 mb-2 bg-dark text-white">

  <div class="p-3 mb-2 bg-info text-white">
    <h1 class="display-4">2Doo!</h1>
    <p class="text-light" class="lead">Plan, manage and track all your tasks in one flexible app!</p>
  </div>
 

  <div class="row">
    <div class="col-md-12">
      <h2>To-do:</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <tbody>


          {% for item in get_items() %}
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.status}}</td>

          {% if item.status == "Not Started" %}
          
        <div align ="right">
          
        <form class="form" method="POST" action="http://127.0.0.1:5000/remove/{{item}}">
          <input type="submit" name="remove" class="btn btn-danger" value="REMOVE">
          
        </form>
          
        <form class="form" method="POST" action="http://127.0.0.1:5000//mark_complete">
          <input type="submit" name="complete" class="btn btn-success" value="COMPLETE" data-source="{{item.id}}">
        </form>
          
        </div>
        {%endif%}

          {% if item.status == "Completed" %}
        <div align ="left">
        <td><p class="text-success">Done</p></td> 
        </div>
          
          {%endif%}


      
      {% endfor %}  

      </tbody>
    </ul>

      <div class="container-fluid">
      <form action="http://127.0.0.1:5000/add/add_item", method="POST" class="form-example">
        <div class="form-example">
          <div align ="center">
          <p>----------------------- To-Do ----------------------- </p>
          <input type="text" class="col-lg-4 col-lg-offset-10" name="item_name" id="item_id" class=f-form-control required>
        </form>
          </div>
        </div>
      </div>

      <br>

      
       
  </div>
</div>

<!-- <div class="p-3 mb-2 bg-dark text-white"></div>
</div> -->
{% endblock %}